.base{
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
.form__assessment{
  width: 45%;
  margin-left: 50%;
  margin-top: -15%;
  position: absolute;
  height: 80%;
  transform: translate(-50%,50%);
  /* height: 100%; */
  background-color: #fff;
}
.form__content{
  width:100%;
  height: 100%;
}